@font-face{
	font-family: skia;
	src: url('fonts/Skia.ttf');
}

body {
	background: url('img/FliesOutside.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: skia;
}

h2{
	margin:auto;
	text-align: center;
}
div #pi{
    width: 100px;
    position: absolute;
    left: -120px;
    top: 0px;
    z-index: 3;
}

div #pi2{
    width: 100px;
    /*border: 1px solid #ccc;*/
    position: absolute;
    right: -30px;
    top: 0px;
    z-index: 3;
}   

.jumbotron { 
	opacity: 0.8;  
	top:200px;
	margin:auto;
	position: relative;
	padding-top: 40px;
	padding-bottom:40px;
	color: black;
}

.glyphicon{ 
    font-size: 190px;  
}

#mainhead{
    position:relative;
    margin:auto;  
    width: 500px;  
}

footer{
	text-align: center;
	opacity: 0.8; 
}

p{
	margin: 0px 0px 0px;
}
.breadcrumb>li+li:before{
	color:black;
}
/*#groupies{
	background-color: blue;
	width: 750px;
}*/

.breadcrumb{
	top:7px;
	font-size: 30px;
	width:400px;
	background-color: lightblue;
	margin:auto;
	position: relative;
	text-align: center;
	opacity: 0.7;
}

ul li a{
	color: black;
}

